<nav class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">مدیریت</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard/index"><span class="fa fa-home"></span> صفحه اصلی</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user-circle"></span> حساب کاربری <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dashboard/profile">تغییر مشخصات</a></li>
                        <li><a href="/dashboard/change-password">تغییر رمز عبور</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/logout"><span class="fa fa-sign-out"></span> خروج</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>

<div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3"></div>
</div>