.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/*@font-face {*/
    /*font-family: 'isans';*/
    /*src: url('../fonts/iransans/IRANSANSExpanded.eot?#') format('eot'),  !* IE6–8 *! url('../fonts/iransans/IRANSans-Bold.woff2') format('woff2'),  !* Chrome36+, Opera24+*! url('../fonts/iransans/IRANSans-Bold.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
/*}*/
@font-face {
    font-family: 'isans';
    src: url('../fonts/yekan/BYekan-webfont.eot?#') format('eot'),  /* IE6–8 */ url('../fonts/yekan/BYekan-webfont.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ url('../fonts/yekan/BYekan-webfont.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: bold;
    font-style: normal;
}
body{
    font-family:isans, Arial, sans-serif;
    direction: rtl;
    font-size: 15px;
}

#logo{
    width: 140px;
    padding: 0 15px;
}

#logo > img{
    min-width: 100%;
    height: 50px;
}

.posts p {
    color: #777777;
    font-size: 13px;
    line-height: 1.8;
}

.posts h3 {
    font-size: 17px;
    line-height: 1;
}

.posts a{
    color: #314549;
    text-decoration: none;
}

.posts a:hover{
    color: #060606;
}

.panel-tabs >li >a{
    color: #777;
}

.panel-tabs >li >a:hover{
    color: #eee;
}

.comments::before{
    content: '';
    margin-bottom: 30px;
}

.form-control-select{
    height: 40px;
}